---
import Title from "@components/shared/Title.astro";
import MainLayout from "../../layout/MainLayout.astro";
const title = "Favoritos";
---

<MainLayout title={title}>
  <Title>Favoritos</Title>
</MainLayout>
